header {
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #eb5c25;
}

.nav .nav-link.active {
    background-color: #fbd6c5;
    color: #eb5c25;
}

.nav .nav-link,
.navbar-brand ,
.navbar-brand:hover {
    color: #fbd6c5;
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    
}

.navbar-toggler {
    background-color: #fbd6c5;
}

.h1s {
    color: #eb5c25;
    font-family:  'Bebas Neue', sans-serif;
}

.ps {
    color: #eb5c25;
    font-family: 'Roboto', sans-serif;
}

.imgCapa {
    
    width: 40vw;
    border-radius: 20%;
    margin-bottom: 20px;
    object-fit: cover;
}

.inicio {
    align-items: center;
}



